<div
	data-elementor-type="footer"
	data-elementor-id="1584"
	class="elementor elementor-1584 elementor-location-footer"
	data-elementor-post-type="elementor_library"
>
	<div
		class="elementor-element elementor-element-c839eeb pad-side e-flex e-con-boxed e-con e-parent"
		data-id="c839eeb"
		data-element_type="container"
		id="footer"
		data-core-v316-plus="true"
	>
		<div class="e-con-inner">
			<div
				class="elementor-element elementor-element-91c48f4 e-con-full e-flex e-con e-child"
				data-id="91c48f4"
				data-element_type="container"
			>
				<div
					class="elementor-element elementor-element-e16628a elementor-widget__width-inherit elementor-widget elementor-widget-theme-site-logo elementor-widget-image"
					data-id="e16628a"
					data-element_type="widget"
					data-widget_type="theme-site-logo.default"
				>
					<div class="elementor-widget-container">
						<a href="https://teamworksstg.wpengine.com">
							<img
								src="https://teamworksstg.wpengine.com/wp-content/uploads/Teamworks-Horizontal.svg"
								class="attachment-full size-full wp-image-254"
								alt=""
							/>
						</a>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-8aa7de4 secondary-button elementor-widget elementor-widget-button"
					data-id="8aa7de4"
					data-element_type="widget"
					data-widget_type="button.default"
				>
					<div class="elementor-widget-container">
						<div class="elementor-button-wrapper">
							<a
								class="elementor-button elementor-button-link elementor-size-sm"
								href="https://teamworksstg.wpengine.com/login/"
							>
								<span class="elementor-button-content-wrapper">
									<span
										class="elementor-button-icon elementor-align-icon-right"
									>
										<svg
											aria-hidden="true"
											class="e-font-icon-svg e-fas-arrow-right"
											viewBox="0 0 448 512"
											xmlns="http://www.w3.org/2000/svg"
										><path
												d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"
											></path></svg>
									</span>
									<span class="elementor-button-text">Sign In</span>
								</span>
							</a>
						</div>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-9c15d9a elementor-widget elementor-widget-text-editor"
					data-id="9c15d9a"
					data-element_type="widget"
					data-widget_type="text-editor.default"
				>
					<div class="elementor-widget-container">
						<p>(202) 875-8930<br /><a
								href="mailto:info@teamworks.com"
							>info@teamworks.com</a></p>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-f96b912 e-con-full e-flex e-con e-child"
					data-id="f96b912"
					data-element_type="container"
				>
					<div
						class="elementor-element elementor-element-399dd22 elementor-widget__width-initial elementor-widget elementor-widget-image"
						data-id="399dd22"
						data-element_type="widget"
						data-widget_type="image.default"
					>
						<div class="elementor-widget-container">
							<a href="https://twitter.com/teamworks">
								<img
									width="67"
									height="62"
									src="https://teamworksstg.wpengine.com/wp-content/uploads/x-logo.webp"
									class="attachment-full size-full wp-image-3378"
									alt=""
								/>
							</a>
						</div>
					</div>
					<div
						class="elementor-element elementor-element-f8f304e elementor-widget__width-initial elementor-widget elementor-widget-image"
						data-id="f8f304e"
						data-element_type="widget"
						data-widget_type="image.default"
					>
						<div class="elementor-widget-container">
							<a href="https://www.instagram.com/teamworks">
								<img
									width="73"
									height="73"
									src="https://teamworksstg.wpengine.com/wp-content/uploads/instagram-logo.webp"
									class="attachment-large size-large wp-image-3376"
									alt=""
								/>
							</a>
						</div>
					</div>
					<div
						class="elementor-element elementor-element-cc196da elementor-widget__width-initial elementor-widget elementor-widget-image"
						data-id="cc196da"
						data-element_type="widget"
						data-widget_type="image.default"
					>
						<div class="elementor-widget-container">
							<a
								href="https://www.linkedin.com/company/teamworksapp/"
							>
								<img
									width="73"
									height="73"
									src="https://teamworksstg.wpengine.com/wp-content/uploads/linkedin-logo.webp"
									class="attachment-large size-large wp-image-3377"
									alt=""
								/>
							</a>
						</div>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-fdea21d e-con-full elementor-hidden-mobile e-flex e-con e-child"
					data-id="fdea21d"
					data-element_type="container"
				>
					<div
						class="elementor-element elementor-element-4681d22 elementor-widget__width-initial elementor-widget elementor-widget-image"
						data-id="4681d22"
						data-element_type="widget"
						data-widget_type="image.default"
					>
						<div class="elementor-widget-container">
							<a
								href="https://play.google.com/store/apps/details?id=com.teamworks.twmobile.next"
							>
								<img
									width="225"
									height="67"
									src="https://teamworksstg.wpengine.com/wp-content/uploads/google-play.webp"
									class="attachment-large size-large wp-image-3380"
									alt=""
								/>
							</a>
						</div>
					</div>
					<div
						class="elementor-element elementor-element-7a09cc0 elementor-widget__width-initial elementor-widget elementor-widget-image"
						data-id="7a09cc0"
						data-element_type="widget"
						data-widget_type="image.default"
					>
						<div class="elementor-widget-container">
							<a
								href="https://itunes.apple.com/us/app/teamworks/id1271258473?mt=8"
							>
								<img
									width="198"
									height="67"
									src="https://teamworksstg.wpengine.com/wp-content/uploads/apple-app-store.webp"
									class="attachment-large size-large wp-image-3379"
									alt=""
								/>
							</a>
						</div>
					</div>
					<div
						class="elementor-element elementor-element-5bb1dab elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
						data-id="5bb1dab"
						data-element_type="widget"
						data-widget_type="text-editor.default"
					>
						<div class="elementor-widget-container">
							©2024 Copyright Teamworks Innovations. All Rights
							Reserved.
						</div>
					</div>
				</div>
			</div>
			<div
				class="elementor-element elementor-element-291ba2e e-con-full e-flex e-con e-child"
				data-id="291ba2e"
				data-element_type="container"
			>
				<div
					class="elementor-element elementor-element-459cc20 elementor-widget elementor-widget-heading"
					data-id="459cc20"
					data-element_type="widget"
					data-widget_type="heading.default"
				>
					<div class="elementor-widget-container">
						<h6
							class="elementor-heading-title elementor-size-default"
						>Industries</h6>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-5a0085c elementor-widget elementor-widget-text-editor"
					data-id="5a0085c"
					data-element_type="widget"
					data-widget_type="text-editor.default"
				>
					<div class="elementor-widget-container">
						<p><a
								href="https://teamworksstg.wpengine.com/professional-sports/"
							>Professional Sports</a><br /><a
								href="https://teamworksstg.wpengine.com/collegiate-sports/"
							>Collegiate Sports</a><br /><a
								href="https://teamworksstg.wpengine.com/olympics-ngbs/"
							>Olympic &amp; NGBs</a><br /><a
								href="https://explore.teamworks.com/military"
							>Military &amp; Tactical</a></p>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-a664772 elementor-widget elementor-widget-heading"
					data-id="a664772"
					data-element_type="widget"
					data-widget_type="heading.default"
				>
					<div class="elementor-widget-container">
						<h6
							class="elementor-heading-title elementor-size-default"
						>Company</h6>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-cb3ca2d elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
					data-id="cb3ca2d"
					data-element_type="widget"
					data-widget_type="text-editor.default"
				>
					<div class="elementor-widget-container">
						<p><a
								href="https://teamworksstg.wpengine.com/about-us/"
							>About Us</a><br /><a
								href="https://teamworksstg.wpengine.com/careers/"
							>Careers</a><br /><a
								href="https://teamworksstg.wpengine.com/oss-integrations/"
							>OSS Integrations</a></p>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-c0a3550 elementor-hidden-desktop elementor-hidden-tablet elementor-widget elementor-widget-heading"
					data-id="c0a3550"
					data-element_type="widget"
					data-widget_type="heading.default"
				>
					<div class="elementor-widget-container">
						<h6
							class="elementor-heading-title elementor-size-default"
						>Resources</h6>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-7d2d234 elementor-widget__width-initial elementor-hidden-desktop elementor-hidden-tablet elementor-widget elementor-widget-text-editor"
					data-id="7d2d234"
					data-element_type="widget"
					data-widget_type="text-editor.default"
				>
					<div class="elementor-widget-container">
						<a
							href="https://teamworksstg.wpengine.com/contact/"
						>Contact us</a>
						<a
							href="https://teamworks.zendesk.com/hc/en-us/requests/new"
						>Support Home</a>
						<a href="ttps://learn.teamworks.com/">Learning Portal</a>
						<a
							href="https://teamworksstg.wpengine.com/blog/"
						>Blog</a>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-2e01af7 elementor-hidden-desktop elementor-hidden-tablet elementor-widget elementor-widget-heading"
					data-id="2e01af7"
					data-element_type="widget"
					data-widget_type="heading.default"
				>
					<div class="elementor-widget-container">
						<h6
							class="elementor-heading-title elementor-size-default"
						>Legal</h6>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-bcfa6cb elementor-hidden-desktop elementor-hidden-tablet elementor-widget elementor-widget-text-editor"
					data-id="bcfa6cb"
					data-element_type="widget"
					data-widget_type="text-editor.default"
				>
					<div class="elementor-widget-container">
						<p><a
								href="https://teamworksstg.wpengine.com/accessibility/"
							>Accessibility</a><br /><a
								href="https://teamworksstg.wpengine.com/privacy-policy/"
							>Privacy Policy</a><br />Terms of Service</p>
					</div>
				</div>
			</div>
			<div
				class="elementor-element elementor-element-104a32f e-con-full e-flex e-con e-child"
				data-id="104a32f"
				data-element_type="container"
			>
				<div
					class="elementor-element elementor-element-db5a5a5 elementor-widget elementor-widget-heading"
					data-id="db5a5a5"
					data-element_type="widget"
					data-widget_type="heading.default"
				>
					<div class="elementor-widget-container">
						<h6
							class="elementor-heading-title elementor-size-default"
						>Products</h6>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-2b6cdfc elementor-widget elementor-widget-text-editor"
					data-id="2b6cdfc"
					data-element_type="widget"
					data-widget_type="text-editor.default"
				>
					<div class="elementor-widget-container">
						<p><a
								href="https://teamworksstg.wpengine.com/hub/"
							>Hub</a><br /><a
								href="https://teamworksstg.wpengine.com/camps/"
							>Camps</a><br /><a
								href="https://teamworksstg.wpengine.com/inventory-management/"
							>Inventory Mangement</a><br /><a
								href="https://teamworksstg.wpengine.com/ams/"
							>AMS</a><br /><a
								href="https://teamworksstg.wpengine.com/nutrition/"
							>Nutrition</a><br /><a
								href="https://teamworksstg.wpengine.com/academics/"
							>Academics</a><br /><a
								href="https://teamworksstg.wpengine.com/pathways/"
							>Pathways</a><br /><a
								href="https://teamworksstg.wpengine.com/pulse/"
							>Pulse</a><br /><a
								href="https://teamworksstg.wpengine.com/influencer/"
							>Influencer</a><br /><a
								href="https://teamworksstg.wpengine.com/collectives/"
							>Collectives</a><br /><a
								href="https://teamworksstg.wpengine.com/recruiting/"
							>Recruiting</a></p>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-e3476c8 e-con-full elementor-hidden-desktop elementor-hidden-tablet e-flex e-con e-child"
					data-id="e3476c8"
					data-element_type="container"
				>
					<div
						class="elementor-element elementor-element-4686447 elementor-widget__width-initial elementor-widget elementor-widget-image"
						data-id="4686447"
						data-element_type="widget"
						data-widget_type="image.default"
					>
						<div class="elementor-widget-container">
							<a
								href="https://play.google.com/store/apps/details?id=com.teamworks.twmobile.next"
							>
								<img
									width="225"
									height="67"
									src="https://teamworksstg.wpengine.com/wp-content/uploads/google-play.webp"
									class="attachment-large size-large wp-image-3380"
									alt=""
								/>
							</a>
						</div>
					</div>
					<div
						class="elementor-element elementor-element-4e8efdd elementor-widget__width-initial elementor-widget elementor-widget-image"
						data-id="4e8efdd"
						data-element_type="widget"
						data-widget_type="image.default"
					>
						<div class="elementor-widget-container">
							<a
								href="https://itunes.apple.com/us/app/teamworks/id1271258473?mt=8"
							>
								<img
									width="198"
									height="67"
									src="https://teamworksstg.wpengine.com/wp-content/uploads/apple-app-store.webp"
									class="attachment-large size-large wp-image-3379"
									alt=""
								/>
							</a>
						</div>
					</div>
					<div
						class="elementor-element elementor-element-d7c84fb elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
						data-id="d7c84fb"
						data-element_type="widget"
						data-widget_type="text-editor.default"
					>
						<div class="elementor-widget-container">
							©2024 Copyright Teamworks Innovations. All Rights
							Reserved.
						</div>
					</div>
				</div>
			</div>
			<div
				class="elementor-element elementor-element-c03f0c8 e-con-full elementor-hidden-mobile e-flex e-con e-child"
				data-id="c03f0c8"
				data-element_type="container"
			>
				<div
					class="elementor-element elementor-element-4be67e4 elementor-widget elementor-widget-heading"
					data-id="4be67e4"
					data-element_type="widget"
					data-widget_type="heading.default"
				>
					<div class="elementor-widget-container">
						<h6
							class="elementor-heading-title elementor-size-default"
						>Resources</h6>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-02d1631 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
					data-id="02d1631"
					data-element_type="widget"
					data-widget_type="text-editor.default"
				>
					<div class="elementor-widget-container">
						<p><a
								href="https://teamworksstg.wpengine.com/contact/"
							>Contact us</a><br /><a
								href="https://teamworks.zendesk.com/hc/en-us/requests/new"
							>Support Home</a><br /><a
								href="https://learn.teamworks.com/"
							>Learning Portal</a><br /><a
								href="https://teamworksstg.wpengine.com/blog/"
							>Blog</a></p>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-39dedc9 elementor-widget elementor-widget-heading"
					data-id="39dedc9"
					data-element_type="widget"
					data-widget_type="heading.default"
				>
					<div class="elementor-widget-container">
						<h6
							class="elementor-heading-title elementor-size-default"
						>Legal</h6>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-724799c elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
					data-id="724799c"
					data-element_type="widget"
					data-widget_type="text-editor.default"
				>
					<div class="elementor-widget-container">
						<a
							href="https://teamworksstg.wpengine.com/accessibility/"
						>Accessibility</a>
						<a
							href="https://teamworksstg.wpengine.com/privacy-policy/"
						>Privacy Policy</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>