<footer class="footer">
	<div class="footer-container">
		<div class="footer-inner">
			<div class="footer-child">
				<div class="footer-logo">
					<a href="https://teamworks.com">
						<img
							src="https://teamworksstg.wpengine.com/wp-content/uploads/Teamworks-Horizontal.svg"
						/>
					</a>
				</div>
				<div class="footer-sign-in-button">
					<a href="https://teamworks.com/login">Sign In</a>
				</div>
				<div class="footer-hyperlink-list">
					<p>(202) 875-8930</p>
					<a href="mailto:info@teamworks.com">info@teamworks.com</a>
				</div>
				<div class="footer-social-icons">
					<div class="footer-social-icons-container">
						<a href="https://twitter.com/teamworks">
							<img
								width="67"
								height="62"
								src="https://teamworksstg.wpengine.com/wp-content/uploads/x-logo.webp"
								alt=""
							/>
						</a>
						<a href="https://www.instagram.com/teamworks">
							<img
								width="73"
								height="73"
								src="https://teamworksstg.wpengine.com/wp-content/uploads/instagram-logo.webp"
								alt=""
							/>
						</a>
						<a
							href="https://www.linkedin.com/company/teamworksapp/"
						>
							<img
								width="73"
								height="73"
								src="https://teamworksstg.wpengine.com/wp-content/uploads/linkedin-logo.webp"
								alt=""
							/>
						</a>
					</div>

				</div>
				<div class="footer-copyright-download">

					<div class="footer-download-buttons">
						<div class="footer-download-buttons-container">
							<a
								href="https://play.google.com/store/apps/details?id=com.teamworks.twmobile.next"
							>
								<img
									width="225"
									height="67"
									src="https://teamworksstg.wpengine.com/wp-content/uploads/google-play.webp"
									alt=""
								/>
							</a>
						</div>
					</div>

					<div class="footer-download-buttons">
						<div class="footer-download-buttons-container">
							<a
								href="https://itunes.apple.com/us/app/teamworks/id1271258473?mt=8"
							>
								<img
									width="198"
									height="67"
									src="https://teamworksstg.wpengine.com/wp-content/uploads/apple-app-store.webp"
									alt=""
								/>
							</a>
						</div>
					</div>

					<div class="footer-copyright-info">
						<div class="footer-copyright-info-container">
							©2024 Copyright Teamworks Innovations. All Rights
							Reserved.
						</div>
					</div>

				</div>
			</div>
			<div class="footer-child">
				<div class="footer-subtitle">
					<h6>Industries</h6>
				</div>
				<div class="footer-hyperlink-list">
					<p><a
							href="https://teamworks.com/professional-sports/"
						>Professional Sports</a><a
							href="https://teamworks.com/collegiate-sports/"
						>Collegiate Sports</a><a
							href="https://teamworks.com/olympics-ngbs/"
						>Olympic &amp; NGBs</a><a
							href="https://explore.teamworks.com/military"
						>Military &amp; Tactical</a></p>
				</div>
				<div class="footer-subtitle">
					<h6>Company</h6>
				</div>
				<div class="footer-hyperlink-list">
					<p><a href="https://teamworks.com/about-us/">About Us</a><br
						/><a href="https://teamworks.com/careers/">Careers</a>
						<a href="https://teamworks.com/oss-integrations/">OSS
							Integrations</a></p>
				</div>
			</div>
			<div class="footer-child">
				<div class="footer-subtitle">
					<h6>Products</h6>
				</div>
				<div class="footer-hyperlink-list">
					<p>
						<a href="https://teamworks.com/hub/">Hub</a>
						<a href="https://teamworks.com/camps/">Camps</a>
						<a
							href="https://teamworks.com/inventory-management/"
						>Inventory Mangement</a>
						<a href="https://teamworks.com/ams/">AMS</a>
						<a href="https://teamworks.com/nutrition/">Nutrition</a>
						<a href="https://teamworks.com/academics/">Academics</a>
						<a href="https://teamworks.com/pathways/">Pathways</a>
						<a href="https://teamworks.com/pulse/">Pulse</a><a
							href="https://teamworks.com/influencer/"
						>Influencer</a>
						<a
							href="https://teamworks.com/collectives/"
						>Collectives</a>
						<a
							href="https://teamworks.com/recruiting/"
						>Recruiting</a>
					</p>
				</div>

			</div>
			<div class="footer-child">
				<div class="footer-subtitle">
					<h6>Resources</h6>
				</div>
				<div class="footer-hyperlink-list">
					<p><a href="https://teamworks.com/contact/">Contact us</a><br
						/><a
							href="https://teamworks.zendesk.com/hc/en-us/requests/new"
						>Support Home</a>
						<a href="https://learn.teamworks.com/">Learning Portal</a>
						<a href="https://teamworks.com/blog/">Blog</a></p>
				</div>
				<div class="footer-subtitle">
					<h6>Legal</h6>
				</div>
				<div class="footer-hyperlink-list">
					<p>
						<a
							href="https://teamworksstg.wpengine.com/accessibility/"
						>Accessibility</a>
						<a
							href="https://teamworksstg.wpengine.com/privacy-policy/"
						>Privacy Policy</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>