<footer>
	<div class="footer-container">
		<div class="footer-inner">
			<div class="footer-column">
				<div class="footer-logo">
					<a href="https://teamworksstg.wpengine.com/">
						<img
							src="https://teamworksstg.wpengine.com/wp-content/uploads/Teamworks-Horizontal.svg"
							alt=""
						/></a>
				</div>

				<div class="footer-signin-btn">
					<a href="https://teamworksstg.wpengine.com/login/">
						Sign In
					</a>
				</div>

				<div class="footer-link-group">
					<ul>
						<p>(202) 875-8930</p>
						<li><a
								href="mailto:info@teamworks.com"
							>info@teamworks.com</a></li>
					</ul>
				</div>

				<div class="footer-social-icons">
					<div class="footer-icon">
						<a href="https://twitter.com/teamworks">
							<img
								src="https://teamworksstg.wpengine.com/wp-content/uploads/x-logo.webp"
								alt=""
							/></a>
						</a>
					</div>
					<div class="footer-icon">
						<a href="https://www.instagram.com/teamworks">
							<img src="https://teamworksstg.wpengine.com/wp-content/uploads/instagram-logo.webp" alt="">
						</a>
					</div>
					<div class="footer-icon">
						<a href="https://www.linkedin.com/company/teamworksapp/">
							<img src="https://teamworksstg.wpengine.com/wp-content/uploads/linkedin-logo.webp" alt="">
						</a>
					</div>
				</div>

				<div class="footer-rest">
					<div class="footer-extra-items">
						<a href="https://play.google.com/store/apps/details?id=com.teamworks.twmobile.next">
							<img width="225" height="67" src="https://teamworksstg.wpengine.com/wp-content/uploads/google-play.webp" alt="">								
						</a>
					</div>
					<div class="footer-extra-items">
						<a href="https://itunes.apple.com/us/app/teamworks/id1271258473?mt=8">
							<img width="198" height="67" src="https://teamworksstg.wpengine.com/wp-content/uploads/apple-app-store.webp" alt="">								
						</a>
					</div>
					<div class="footer-extra-item">
						<p>
							©2024 Copyright Teamworks Innovations. All Rights Reserved.						
						</p>
					</div>
				</div>

			</div>
			<div class="footer-column">
				<div class="footer-link-group">
					<h6>Industries</h6>
					<ul>
						<li><a
								href="https://teamworksstg.wpengine.com/professional-sports/"
							>Professional Sports</a></li>

						<li><a
								href="https://teamworksstg.wpengine.com/collegiate-sports/"
							>Collegiate Sports</a></li>
						<li><a
								href="https://teamworksstg.wpengine.com/olympics-ngbs/"
							>Olympic &amp; NGBs</a></li>
						<li><a
								href="https://explore.teamworks.com/military"
							>Military &amp; Tactical</a></li>
					</ul>
				</div>
				<div class="footer-link-group">
					<h6>Company</h6>
					<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">OSS Integrations</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-column">
				<div class="footer-link-group">
					<h6>Products</h6>
					<ul>
						<li><a href="#">Hub</a></li>
						<li><a href="#">Camps</a></li>
						<li><a href="#">Inventory Management</a></li>
						<li><a href="#">AMS</a></li>
						<li><a href="#">Nutrition</a></li>
						<li><a href="#">Academics</a></li>
						<li><a href="#">Pathways</a></li>
						<li><a href="#">Pulse</a></li>
						<li><a href="#">Influencer</a></li>
						<li><a href="#">Collectives</a></li>
						<li><a href="#">Recruiting</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-column">
				<div class="footer-link-group">
					<h6>Resources</h6>
					<ul>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Support Home</a></li>
						<li><a href="#">Learning Portal</a></li>
						<li><a href="#">Blog</a></li>
					</ul>
				</div>
				<div class="footer-link-group">
					<h6>Legal</h6>
					<ul>
						<li><a href="#">Accessibility</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>